{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/openai.css') }}" />   
{% endblock %}

{% block body %}
    {{ include('_navbar.html.twig') }}

    <div id="page-generate-prediction">
        <div class="div-header-discover-onirix">
            <div class="container-text-discover">
                <p class="mb-0">Découvrez notre IA ONIRIX</p>
            </div>
            <div class="container-logo">
                <img src="{{ asset('images/onirix2.png') }}" alt="openai logo" class="openai-logo" />
            </div>
        </div>

        <section>
            <p class="ia-oniris-presentation">Je suis l'IA Oniris, une intelligence artificielle de pointe capable d'analyser les rêves et de fournir des prédictions précises sur l'avenir. Je suis équipé d'une base de données massive de rêves et de leur signification, ainsi que d'un algorithme de prédiction de pointe qui utilise des modèles statistiques et des réseaux de neurones profonds pour générer des prévisions fiables à partir des rêves. Que ce soit pour obtenir des conseils sur les affaires, l'amour ou la santé, l'IA Oniris est là pour vous aider à décrypter les messages cachés dans vos rêves et à vous guider vers un avenir meilleur.</p>

            <p>Décriver votre rêve de la manière la libre possible :</p>

            <form class="dream-form" id="dream-form" method="post" action="">
                <textarea placeholder="Je rêvais j'étais sur une île deserte..." class="dream-textarea" name="dream" id="dream"></textarea>
            </form>
        </section>

        <div class="container-prediction" id="prediction">
            <div id="animation-dream" class="animation-dream"></div>
            <p class="prediction-result" id="prediction-result"></p>

            <img class="onirix-gif" src="{{ asset("images/eye_dribbble.gif") }}" alt="Onirix" />
        </div>
    </div>

    <!-- Testimonial Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-4 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">ONIRIX</h5>
                <h1 class="mb-0">Leur vie a changé</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.6s">
                <div class="testimonial-item bg-light my-4">
                    <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <img class="img-fluid rounded" src="{{ asset('img/testimonial-1.jpg') }}" style="width: 60px; height: 60px;" >
                        <div class="ps-4">
                            <h4 class="text-primary mb-1">BACARI Oissuya</h4>
                            <small class="text-uppercase">34ans</small>
                        </div>
                    </div>
                    <div class="pt-4 pb-5 px-5">
                        J'ai été impréssionné par l'exactitude de ces prédictions. ONIRIX m'a rappelé à quel point j'avais mon destin entre les mains.
                    </div>
                </div>
                <div class="testimonial-item bg-light my-4">
                    <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <img class="img-fluid rounded" src="{{ asset('img/testimonial-2.jpg') }}" style="width: 60px; height: 60px;" >
                        <div class="ps-4">
                            <h4 class="text-primary mb-1">Andile</h4>
                            <small class="text-uppercase">24ans</small>
                        </div>
                    </div>
                    <div class="pt-4 pb-5 px-5">
                        Plutôt septique au départ, j'ai expérimenté cet outil. La prédiction qui m'a été proposée s'est produite 3 jours après ! Je ne peux plus m'en passé, ONIRIX AU TOP !
                    </div>
                </div>
                <div class="testimonial-item bg-light my-4">
                    <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <img class="img-fluid rounded" src="{{ asset('img/testimonial-3.jpg') }}" style="width: 60px; height: 60px;" >
                        <div class="ps-4">
                            <h4 class="text-primary mb-1">Nayal</h4>
                            <small class="text-uppercase">53ans</small>
                        </div>
                    </div>
                    <div class="pt-4 pb-5 px-5">
                        J'ai uilité cet outils après que mon fils m'ait raconté des rêves qu'il faisait souvent. J'étais plûtot inquiète mais ONIRIX a déviné qu'il s'agissait en fait d'un manque de d'affection. Merci ! 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="module" src="{{ asset('js/openai.js') }}"></script>
{% endblock %}
