{% extends 'base.html.twig' %}

{% block body %}
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid bg-dark px-5 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <small class="me-3 text-light"><i class="fa fa-map-marker-alt me-2"></i><a href="https://goo.gl/maps/AqDi75U5FH8eXAjPA" >4 place Mariage, 97600 Mamoudzou</a></small>
                    <small class="me-3 text-light"><i class="fa fa-phone-alt me-2"></i><a href="tel:0782465607">07 82 46 56 07</a> </small>
                    <small class="text-light"><i class="fa fa-envelope-open me-2"></i><a href="mailto:contact@iidr.com">contact@iidr.com</a></small>
                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-end">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="https://twitter.com/"><i class="fab fa-twitter fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="https://www.facebook.com/"><i class="fab fa-facebook-f fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="linkedin.com/"><i class="fab fa-linkedin-in fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="https://www.instagram.com/"><i class="fab fa-instagram fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" href="https://www.youtube.com/"><i class="fab fa-youtube fw-normal"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid position-relative p-0">
{#
        <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
            <a href="index.html">
                <img src="{{ asset('img/iit-logo.png') }}" style="width: 250px;height: 75px;">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="index.html" class="nav-item nav-link active">Accueil</a>
                    <a href="about.html" class="nav-item nav-link">A propos de nous</a>

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Nos projets de recherche</a>
                        <div class="dropdown-menu m-0">
                            <a href="#" class="dropdown-item">FUTURLAB</a>
                            <a href="team.html" class="dropdown-item">EXPANSEDREAM</a>
                            <a href="#" class="dropdown-item">ONIRIX IA</a>
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Départements</a>
                        <div class="dropdown-menu m-0">
                            <a href="#" class="dropdown-item">Recherche et développement</a>
                            <a href="#" class="dropdown-item">Pshychologie et Neurologie</a>
                            <a href="team.html" class="dropdown-item">Expertise</a>
                        </div>
                    </div>
                    <a href="contact.html" class="nav-item nav-link">Contact</a>
                </div>

                <a href="https://htmlcodex.com/startup-company-website-template" class="btn btn-primary py-2 px-4 ms-3">ONIRIX</a>            </div>
        </nav>
#}

        {{ include('_navbar.html.twig') }}

        <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
            <div class="row py-5">
                <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                    <h1 class="display-4 text-white animated zoomIn">A propos de nous</h1>
                    <a href="{{ path('home_index') }}" class="h5 text-white">Accueil</a>
                    <i class="far fa-circle text-white px-2"></i>
                    <a href="{{ path('about_index') }}" class="h5 text-white">A propos de nous</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


    <!-- About Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-7">
                    <div class="section-title position-relative pb-3 mb-5">
                        <h5 class="fw-bold text-primary text-uppercase">QUI SOMMES-NOUS ?</h5>
                        <h1 class="mb-0">Institut de recherche entièrement spécialisé et entièrement dédiée dans la recherche en onirologie</h1>
                    </div>
                    <p class="mb-4">Conscient des métamorphoses du monde actuel, l’Institut International des Rêves vise à comprendre nos rêves pour changer le présent et aller vers la construction d’un avenir désirable. Créé en 2010, l’IRR et ses équipes de recherche travaillent à la compréhension : </p>
                        <ul>
                        <li>de la genèse d’un rêve</li>
                        <li>du profilage des rêveurs</li>
                        <li>des possibilités d’interactions présent / avenir </li>
                        </ul>
                    <p>
                        L’Institut International des Rêves est une organisation hybride et indépendante au service de l’intérêt général. Il dispose d’un Conseil d’Administration, composé notamment de membres de l’institut et de représentants élus. Il prend les décisions importantes de l'organisation.
                    </p>
                    <div class="row g-0 mb-3">
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Expert en onirologie</h5>
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Expert en psychologie</h5>
                        </div>
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Expert en anthropologie</h5>
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Expert en neurologie</h5>
                        </div>
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Expert en intelligence artificielle</h5>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-4 wow fadeIn" data-wow-delay="0.6s">
                        <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="mb-2">Appellez-nous pour toutes</h5>
                            <h4 class="text-primary mb-0" href="href=tel:0782465607"> 07 82 46 56 07</h4>
                        </div>
                    </div>
                   </div>
                <div class="col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="{{ asset('img/about.jpg') }}" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Team Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Nos experts</h5>
                <h1 class="mb-0">Professionnel, chercheurs, psychologues, ingérieurs etc..</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{{ asset('img/team-1.jpg') }}" alt="">
                            <div class="team-social">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href="https://twitter.com"><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href="https://www.facebook.com/"><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href="https://www.instagram.com/"><i class="fab fa-instagram fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href="https://www.linkedin.com/"><i class="fab fa-linkedin-in fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-primary">Angel S. Myrick</h4>
                            <p class="text-uppercase m-0">onirologue</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{{ asset('img/team-2.jpg') }}" alt="">
                            <div class="team-social">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-instagram fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-primary">Erica J. Walker</h4>
                            <p class="text-uppercase m-0">Psychologue</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{{ asset('img/team-3.jpg') }}" alt="">
                            <div class="team-social">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-instagram fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-primary">Charles M. Stokes</h4>
                            <p class="text-uppercase m-0">Professeur en onirologie</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->



    <!-- Team Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">NOS PROJETS DE RECHERCHE</h5>
                <h1 class="mb-0">Nos chercheurs ont oeuvré dans l'aboutissement de différents projets innovents</h1>
            </div> 
            <ul style="display: flex; justify-content: space-around">
                <li>
                    <a href="https://htmlcodex.com/startup-company-website-template" class="btn btn-primary py-2 px-4 ms-3">ONIRIX</a>
                </li>
                <li>
                    <a href="https://htmlcodex.com/startup-company-website-template" class="btn btn-primary py-2 px-4 ms-3">FUTURLAB</a>
                </li>
                <li>
                    <a href="https://htmlcodex.com/startup-company-website-template" class="btn btn-primary py-2 px-4 ms-3">EXPANSEDREAM</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Team End -->
    
    


    <!-- Vendor Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Nos partenaires</h5>
                <h1 class="mb-0">Nos artenaires expert dans les domaines de l'IA et l'onirologie</h1>
            </div>
        <div class="container py-5 mb-5">
            <div class="bg-white">
                <div class="owl-carousel vendor-carousel">
                    <img src="{{ asset('img/vendor-1.jpg') }}" alt="">
                    <img src="{{ asset('img/vendor-2.jpg') }}" alt="">
                    <img src="{{ asset('img/vendor-3.jpg') }}" alt="">
                    <img src="{{ asset('img/vendor-4.jpg') }}" alt="">
                    <img src="{{ asset('img/vendor-5.jpg') }}" alt="">
                    <img src="{{ asset('img/vendor-6.jpg') }}" alt="">
                    <img src="{{ asset('img/vendor-7.jpg') }}" alt="">
                    <img src="{{ asset('img/vendor-8.jpg') }}" alt="">
                    <img src="{{ asset('img/vendor-9.jpg') }}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor End -->
    
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>
{% endblock %}
